@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');
@import "../../Configs/ColorsDefault.scss";


.logo-container{
    text-align: center;

    .title-logo-top, .title-logo-bottom{
        margin: 0;
        font-family: 'Questrial', sans-serif;
        font-size: 120px;
        -webkit-user-select: none;
        font-weight: 700;

        
    
        &.dark-mode{
            color:$white-default;
        }
        &.light-mode{
            color:$system;
        }
    }
    
   
}

@media (max-width: 1000px) {
    .logo-container{

        .title-logo-top, .title-logo-bottom{
            font-size: 70px;  
        }

        .title-logo-bottom{
            margin-top: -10px;
        }
    }
}
