@import "../../Configs/ColorsDefault";

.toggle-container{
    position: relative;
    display: inline-flex;
    width: 90px;
    height: 50px;

    .toggle{
        opacity:0;
        width: 0;
        height: 0;   
        
        &:checked + .slide::before {
          transform: translateX(43px);
          background-color: $system;
        }
        
        &:checked + .slide {
            background-color: $base-color;
            box-shadow: rgb(0 0 0) 0 4px 4px 3px;
        }


    }


    .slide{
        position: absolute;
        inset: 0;
        cursor: pointer;
        background-color: $system;
        border-radius: 99px;
        transition: .4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: $white-default;
        box-shadow: #ae9ad8 0 4px 4px 3px;
        
        &::before{
            content: "";
            top: 10px;
            left: 10%;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: $base-color;
            border-radius: 99px;
            transition: .4s;
        }
    }

}