$base-color: #762cd0;    
$system: #131313;  
$system-support: #131313;  
$white-default: #f8f8f8;
$white-support: #d8d8d8;
$base-support: #bc85ff;

// :export {
//     base-color: $base-color;
//     system_dark: $system;
//     system_light: $white-default;
// }