
.grid-home{
    padding: 50px ;
    width: 100%;
    // height: calc(100vh - 50px);
    height: 100vh;
    overflow: auto;
    transition: .3s;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    
    &.bg{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        
        &.dark-mode{
            background-color:$system;
            opacity: 1;
            background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #1e1e1e55, #1e1e1e );
        }
        &.light-mode{
            background-color: #bd6df7;
            background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f2e3fd 10px ), repeating-linear-gradient( #926fdb55, #926fdb );
            opacity: 0.4;
        }
    }
    
}

@media (max-width: 1000px) {
    .grid-home{
        padding: 25px;
    }
}

