


.grid-home{
    padding: 20px 35px;
    background-color:#333333;
    height: 100vh;
    overflow: hidden;
    display: flex;
    //align-items: center;
    //justify-content: center;
    flex-direction: column;
    
    .header-row-home{
        height: 20%;
        
    }
    
    .body-row-home{
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //text-align: center;
        
        .home-msg{
            color:#f8f8f8;
        }
        
    }
    
    .footer-row-home{
        height: 20%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    
        span{
            color:#F14040;
        }
    
    }                                                                           
}
