


.grid-home{
    padding: 20px 35px;
    background-color:#333333;
    height: 100vh;
    overflow: hidden;
}
.body-row-home{
    padding: 250px 0;
    text-align: center;
    
    .home-msg{
        color:#f8f8f8;
    }

}

.footer-row-home{
    padding: 100px 0;
    text-align: center;

    span{
        color:#F14040;
    }

}