@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap';
@import "../../Configs/ColorsDefault";

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    .btn-socials {
        background-color: transparent;
        transition: .3s linear ;

        &.dark-mode{
            svg{
                color:$white-default;
            }
        }
        
        &.light-mode{
            svg{
                color:$system;
            }
        }

        &:hover{
            transform: scale(1.1);

            svg{
                color: $base-color;
            }
        }


    }
}

@media screen and (width <= 1000px) {
    .socials-container {
        gap: 0;

        .btn-socials {
            margin: 0 8px;
            margin-top: 10px;
        }
    }
}